<html>

<head>
  <meta name=Title content="October 31, 2007">
  <meta name=Keywords content="">
  <meta http-equiv=Content-Type content="text/html; charset=utf-8">
  <meta name=Generator content="Microsoft Word 15 (filtered)">
  <title>October 31, 2007</title>
  <style>
    <!--
    /* Font Definitions */
    @font-face
    {font-family:Arial;
      panose-1:2 11 6 4 2 2 2 2 2 4;}
    @font-face
    {font-family:"Courier New";
      panose-1:2 7 3 9 2 2 5 2 4 4;}
    @font-face
    {font-family:Wingdings;
      panose-1:5 0 0 0 0 0 0 0 0 0;}
    @font-face
    {font-family:Verdana;
      panose-1:2 11 6 4 3 5 4 4 2 4;}
    @font-face
    {font-family:"Cambria Math";
      panose-1:2 4 5 3 5 4 6 3 2 4;}
    @font-face
    {font-family:Calibri;
      panose-1:2 15 5 2 2 2 4 3 2 4;}
    @font-face
    {font-family:Tahoma;
      panose-1:2 11 6 4 3 5 4 4 2 4;}
    @font-face
    {font-family:"MS Mincho";
      panose-1:2 2 6 9 4 2 5 8 3 4;}
    @font-face
    {font-family:"Wingdings 2";
      panose-1:5 2 1 2 1 5 7 7 7 7;}
    @font-face
    {font-family:Cambria;
      panose-1:2 4 5 3 5 4 6 3 2 4;}
    @font-face
    {font-family:"Helvetica Black";
      panose-1:0 0 0 0 0 0 0 0 0 0;}
    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal
    {margin:0in;
      margin-bottom:.0001pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    h1
    {margin-top:12.0pt;
      margin-right:0in;
      margin-bottom:12.0pt;
      margin-left:0in;
      text-indent:0in;
      font-size:13.0pt;
      font-family:"Verdana",sans-serif;
      text-transform:uppercase;
      layout-grid-mode:line;
      font-weight:bold;}
    h2
    {margin-top:12.0pt;
      margin-right:0in;
      margin-bottom:6.0pt;
      margin-left:.5in;
      text-indent:-.5in;
      font-size:12.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    h3
    {margin-top:12.0pt;
      margin-right:0in;
      margin-bottom:6.0pt;
      margin-left:45.0pt;
      text-indent:-.5in;
      font-size:11.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;
      font-style:italic;}
    h4
    {margin-top:12.0pt;
      margin-right:0in;
      margin-bottom:4.0pt;
      margin-left:0in;
      font-size:11.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:normal;
      font-style:italic;}
    h5
    {margin-top:16.0pt;
      margin-right:0in;
      margin-bottom:6.0pt;
      margin-left:-2.0in;
      font-size:9.0pt;
      font-family:"Helvetica Black",sans-serif;
      font-weight:normal;}
    h6
    {margin:0in;
      margin-bottom:.0001pt;
      background:#FEFEFE;
      font-size:9.0pt;
      font-family:"Helvetica Black",sans-serif;
      font-weight:normal;}
    p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
    {margin-top:4.0pt;
      margin-right:0in;
      margin-bottom:4.0pt;
      margin-left:0in;
      text-align:center;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.MsoHeading8, li.MsoHeading8, div.MsoHeading8
    {margin-top:12.0pt;
      margin-right:0in;
      margin-bottom:3.0pt;
      margin-left:1.0in;
      text-indent:-1.0in;
      font-size:12.0pt;
      font-family:"Times New Roman",serif;
      font-style:italic;}
    p.MsoHeading9, li.MsoHeading9, div.MsoHeading9
    {margin-top:12.0pt;
      margin-right:0in;
      margin-bottom:3.0pt;
      margin-left:1.1in;
      text-indent:-1.1in;
      font-size:11.0pt;
      font-family:"Arial",sans-serif;}
    p.MsoIndex1, li.MsoIndex1, div.MsoIndex1
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:11.0pt;
      margin-bottom:.0001pt;
      text-indent:-11.0pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoIndex2, li.MsoIndex2, div.MsoIndex2
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:22.0pt;
      margin-bottom:.0001pt;
      text-indent:-11.0pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoIndex3, li.MsoIndex3, div.MsoIndex3
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:33.0pt;
      margin-bottom:.0001pt;
      text-indent:-11.0pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoIndex4, li.MsoIndex4, div.MsoIndex4
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:44.0pt;
      margin-bottom:.0001pt;
      text-indent:-11.0pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoIndex5, li.MsoIndex5, div.MsoIndex5
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:55.0pt;
      margin-bottom:.0001pt;
      text-indent:-11.0pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoIndex6, li.MsoIndex6, div.MsoIndex6
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:66.0pt;
      margin-bottom:.0001pt;
      text-indent:-11.0pt;
      font-size:9.0pt;
      font-family:"Helvetica Black",sans-serif;}
    p.MsoIndex7, li.MsoIndex7, div.MsoIndex7
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:77.0pt;
      margin-bottom:.0001pt;
      text-indent:-11.0pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoIndex8, li.MsoIndex8, div.MsoIndex8
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:88.0pt;
      margin-bottom:.0001pt;
      text-indent:-11.0pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoIndex9, li.MsoIndex9, div.MsoIndex9
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:99.0pt;
      margin-bottom:.0001pt;
      text-indent:-11.0pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoToc1, li.MsoToc1, div.MsoToc1
    {margin-top:16.0pt;
      margin-right:.5in;
      margin-bottom:0in;
      margin-left:27.0pt;
      margin-bottom:.0001pt;
      text-indent:-27.0pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.MsoToc2, li.MsoToc2, div.MsoToc2
    {margin-top:8.0pt;
      margin-right:.5in;
      margin-bottom:0in;
      margin-left:45.0pt;
      margin-bottom:.0001pt;
      text-indent:-27.0pt;
      line-height:150%;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.MsoToc3, li.MsoToc3, div.MsoToc3
    {margin-top:4.0pt;
      margin-right:.5in;
      margin-bottom:0in;
      margin-left:1.25in;
      margin-bottom:.0001pt;
      text-indent:-.5in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoToc5, li.MsoToc5, div.MsoToc5
    {margin-top:4.0pt;
      margin-right:.5in;
      margin-bottom:4.0pt;
      margin-left:35.0pt;
      text-indent:-35.0pt;
      line-height:150%;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.MsoToc6, li.MsoToc6, div.MsoToc6
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:55.0pt;
      margin-bottom:.0001pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoToc7, li.MsoToc7, div.MsoToc7
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:66.0pt;
      margin-bottom:.0001pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoToc8, li.MsoToc8, div.MsoToc8
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:77.0pt;
      margin-bottom:.0001pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoToc9, li.MsoToc9, div.MsoToc9
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:88.0pt;
      margin-bottom:.0001pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:13.5pt;
      margin-bottom:.0001pt;
      text-indent:-13.5pt;
      font-size:9.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoCommentText, li.MsoCommentText, div.MsoCommentText
    {margin:0in;
      margin-bottom:.0001pt;
      font-size:10.0pt;
      font-family:"Times New Roman",serif;}
    p.MsoHeader, li.MsoHeader, div.MsoHeader
    {margin:0in;
      margin-bottom:.0001pt;
      border:none;
      padding:0in;
      font-size:9.0pt;
      font-family:"Verdana",sans-serif;
      font-style:italic;}
    p.MsoFooter, li.MsoFooter, div.MsoFooter
    {margin:0in;
      margin-bottom:.0001pt;
      line-height:12.0pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoIndexHeading, li.MsoIndexHeading, div.MsoIndexHeading
    {margin:0in;
      margin-bottom:.0001pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoCaption, li.MsoCaption, div.MsoCaption
    {margin-top:16.0pt;
      margin-right:0in;
      margin-bottom:6.0pt;
      margin-left:1.0in;
      text-indent:-1.0in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.MsoTof, li.MsoTof, div.MsoTof
    {margin-top:3.0pt;
      margin-right:38.15pt;
      margin-bottom:3.0pt;
      margin-left:35.3pt;
      text-indent:-35.3pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoEnvelopeAddress, li.MsoEnvelopeAddress, div.MsoEnvelopeAddress
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:2.0in;
      margin-bottom:.0001pt;
      font-size:12.0pt;
      font-family:"Times New Roman",serif;}
    p.MsoEnvelopeReturn, li.MsoEnvelopeReturn, div.MsoEnvelopeReturn
    {margin:0in;
      margin-bottom:.0001pt;
      font-size:12.0pt;
      font-family:"Times New Roman",serif;}
    span.MsoFootnoteReference
    {font-family:"Verdana",sans-serif;
      vertical-align:sub;
      letter-spacing:0pt;
      vertical-align:super;}
    span.MsoPageNumber
    {font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.MsoEndnoteText, li.MsoEndnoteText, div.MsoEndnoteText
    {margin:0in;
      margin-bottom:.0001pt;
      font-size:10.0pt;
      font-family:"Times New Roman",serif;}
    p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
    {margin:0in;
      margin-bottom:.0001pt;
      font-size:12.0pt;
      font-family:"Arial",sans-serif;
      layout-grid-mode:line;}
    p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent
    {margin-top:0in;
      margin-right:-.5in;
      margin-bottom:0in;
      margin-left:0in;
      margin-bottom:.0001pt;
      text-align:justify;
      text-indent:.5in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoBodyText2, li.MsoBodyText2, div.MsoBodyText2
    {margin:0in;
      margin-bottom:.0001pt;
      text-align:justify;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoBodyTextIndent2, li.MsoBodyTextIndent2, div.MsoBodyTextIndent2
    {margin:0in;
      margin-bottom:.0001pt;
      text-indent:.5in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoBodyTextIndent3, li.MsoBodyTextIndent3, div.MsoBodyTextIndent3
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:0in;
      margin-left:.5in;
      margin-bottom:.0001pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    a:link, span.MsoHyperlink
    {color:blue;
      text-decoration:underline;}
    a:visited, span.MsoHyperlinkFollowed
    {color:purple;
      text-decoration:underline;}
    p
    {margin-right:0in;
      margin-left:0in;
      font-size:12.0pt;
      font-family:"Times New Roman",serif;}
    tt
    {font-family:"Courier New",serif;}
    p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject
    {margin:0in;
      margin-bottom:.0001pt;
      font-size:10.0pt;
      font-family:"Times New Roman",serif;
      font-weight:bold;}
    p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
    {margin:0in;
      margin-bottom:.0001pt;
      font-size:8.0pt;
      font-family:"Tahoma",sans-serif;}
    p.MsoNoSpacing, li.MsoNoSpacing, div.MsoNoSpacing
    {margin:0in;
      margin-bottom:.0001pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoRMPane, li.MsoRMPane, div.MsoRMPane
    {margin:0in;
      margin-bottom:.0001pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:10.0pt;
      margin-left:.5in;
      line-height:115%;
      font-size:11.0pt;
      font-family:"Calibri",sans-serif;}
    span.CharChar6
    {font-family:"Verdana",sans-serif;
      text-transform:uppercase;
      layout-grid-mode:line;
      font-weight:bold;}
    span.CharChar5
    {font-family:"Verdana",sans-serif;
      font-weight:bold;
      font-style:italic;}
    p.toc0, li.toc0, div.toc0
    {margin-top:12.0pt;
      margin-right:0in;
      margin-bottom:.25in;
      margin-left:0in;
      text-align:center;
      page-break-before:always;
      border:none;
      padding:0in;
      font-size:16.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.Cov-Address, li.Cov-Address, div.Cov-Address
    {margin:0in;
      margin-bottom:.0001pt;
      text-align:right;
      font-size:11.0pt;
      font-family:"Verdana",sans-serif;}
    p.Cov-Author, li.Cov-Author, div.Cov-Author
    {margin:0in;
      margin-bottom:.0001pt;
      text-align:right;
      font-size:11.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.Cov-Date, li.Cov-Date, div.Cov-Date
    {margin:0in;
      margin-bottom:.0001pt;
      text-align:right;
      font-size:14.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.Cov-Disclaimer, li.Cov-Disclaimer, div.Cov-Disclaimer
    {margin:0in;
      margin-bottom:.0001pt;
      text-align:right;
      font-size:9.0pt;
      font-family:"Verdana",sans-serif;}
    p.Cov-Subtitle, li.Cov-Subtitle, div.Cov-Subtitle
    {margin:0in;
      margin-bottom:.0001pt;
      text-align:right;
      font-size:18.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.Cov-Title, li.Cov-Title, div.Cov-Title
    {margin:0in;
      margin-bottom:.0001pt;
      text-align:right;
      font-size:24.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.TOCHeader, li.TOCHeader, div.TOCHeader
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:12.0pt;
      margin-left:0in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.bodytext, li.bodytext, div.bodytext
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:8.0pt;
      margin-left:0in;
      line-height:16.0pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    span.bodytextChar
    {font-family:"Verdana",sans-serif;}
    span.bodytextCharChar
    {font-family:"Verdana",sans-serif;}
    p.bullets, li.bullets, div.bullets
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:8.0pt;
      margin-left:0in;
      text-indent:-.25in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    span.bulletsChar
    {font-family:"Verdana",sans-serif;}
    p.equation, li.equation, div.equation
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:8.0pt;
      margin-left:0in;
      line-height:20.0pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.AppHeading1, li.AppHeading1, div.AppHeading1
    {margin-top:12.0pt;
      margin-right:0in;
      margin-bottom:12.0pt;
      margin-left:0in;
      font-size:13.0pt;
      font-family:"Verdana",sans-serif;
      text-transform:uppercase;
      layout-grid-mode:line;
      font-weight:bold;}
    p.bullets-2ndlevel, li.bullets-2ndlevel, div.bullets-2ndlevel
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:6.0pt;
      margin-left:.75in;
      text-indent:-.25in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    span.CharChar
    {font-family:"Verdana",sans-serif;}
    span.Heading1Char
    {font-family:"Verdana",sans-serif;
      text-transform:uppercase;
      font-weight:bold;}
    p.bullets-blank, li.bullets-blank, div.bullets-blank
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:8.0pt;
      margin-left:.5in;
      text-indent:-.25in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.AppHeading2, li.AppHeading2, div.AppHeading2
    {margin-top:12.0pt;
      margin-right:0in;
      margin-bottom:6.0pt;
      margin-left:.5in;
      text-indent:-.5in;
      font-size:12.0pt;
      font-family:"Verdana",sans-serif;
      font-variant:small-caps;
      font-weight:bold;}
    p.tabfigsourcefullpg, li.tabfigsourcefullpg, div.tabfigsourcefullpg
    {margin-top:6.0pt;
      margin-right:0in;
      margin-bottom:20.0pt;
      margin-left:9.35pt;
      text-indent:-9.35pt;
      font-size:9.0pt;
      font-family:"Verdana",sans-serif;}
    p.TableTitle, li.TableTitle, div.TableTitle
    {margin-top:16.0pt;
      margin-right:0in;
      margin-bottom:6.0pt;
      margin-left:1.0in;
      text-indent:-1.0in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.AppHeading3, li.AppHeading3, div.AppHeading3
    {margin-top:12.0pt;
      margin-right:0in;
      margin-bottom:6.0pt;
      margin-left:45.0pt;
      text-indent:-.5in;
      font-size:11.0pt;
      font-family:"Verdana",sans-serif;
      layout-grid-mode:line;
      font-weight:bold;
      font-style:italic;}
    p.biblio, li.biblio, div.biblio
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:12.0pt;
      margin-left:.5in;
      text-indent:-.5in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    span.BodyTextChar0
    {font-family:"Arial",sans-serif;
      layout-grid-mode:line;}
    p.bullets-3rdlevel, li.bullets-3rdlevel, div.bullets-3rdlevel
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:6.0pt;
      margin-left:99.0pt;
      text-indent:-.25in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.CovText, li.CovText, div.CovText
    {margin:0in;
      margin-bottom:.0001pt;
      text-align:right;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.Default, li.Default, div.Default
    {margin:0in;
      margin-bottom:.0001pt;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.FigureTitle, li.FigureTitle, div.FigureTitle
    {margin-top:16.0pt;
      margin-right:0in;
      margin-bottom:6.0pt;
      margin-left:1.0in;
      text-indent:-1.0in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.figurewbox, li.figurewbox, div.figurewbox
    {margin-top:0in;
      margin-right:9.0pt;
      margin-bottom:0in;
      margin-left:9.0pt;
      margin-bottom:.0001pt;
      text-align:center;
      border:none;
      padding:0in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.figurewobox, li.figurewobox, div.figurewobox
    {margin:0in;
      margin-bottom:.0001pt;
      text-align:center;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;}
    p.pullquoteside, li.pullquoteside, div.pullquoteside
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:6.0pt;
      margin-left:0in;
      line-height:16.0pt;
      border:none;
      padding:0in;
      font-size:14.0pt;
      font-family:"Verdana",sans-serif;
      font-style:italic;}
    span.FooterChar
    {font-family:"Verdana",sans-serif;}
    p.sidebar, li.sidebar, div.sidebar
    {margin-top:6.0pt;
      margin-right:9.0pt;
      margin-bottom:0in;
      margin-left:9.0pt;
      margin-bottom:.0001pt;
      line-height:12.0pt;
      background:#F2F2F2;
      border:none;
      padding:0in;
      font-size:9.0pt;
      font-family:"Verdana",sans-serif;}
    p.sidebarbullets, li.sidebarbullets, div.sidebarbullets
    {margin-top:0in;
      margin-right:9.0pt;
      margin-bottom:4.0pt;
      margin-left:27.0pt;
      text-indent:-.25in;
      line-height:12.0pt;
      background:#F2F2F2;
      border:none;
      padding:0in;
      font-size:9.0pt;
      font-family:"Verdana",sans-serif;}
    p.tabfigcaptionfullpg, li.tabfigcaptionfullpg, div.tabfigcaptionfullpg
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:6.0pt;
      margin-left:-2.0in;
      font-size:9.0pt;
      font-family:"Verdana",sans-serif;}
    p.TableTitlecont, li.TableTitlecont, div.TableTitlecont
    {margin-top:16.0pt;
      margin-right:0in;
      margin-bottom:6.0pt;
      margin-left:1.0in;
      text-indent:-1.0in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    p.Volume, li.Volume, div.Volume
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:12.0pt;
      margin-left:0in;
      text-align:right;
      font-size:18.0pt;
      font-family:"Helvetica Black",sans-serif;}
    p.Year, li.Year, div.Year
    {margin-top:12.0pt;
      margin-right:0in;
      margin-bottom:.5in;
      margin-left:45.0pt;
      text-align:right;
      text-indent:0in;
      font-size:14.0pt;
      font-family:"Helvetica",sans-serif;
      font-style:italic;}
    span.CharChar4
    {font-style:italic;}
    span.CharChar3
    {font-family:"Arial",sans-serif;}
    p.F1F4FooterOdd, li.F1F4FooterOdd, div.F1F4FooterOdd
    {margin:0in;
      margin-bottom:.0001pt;
      text-align:right;
      background:#FEFEFE;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;
      font-weight:bold;}
    span.CharChar1
    {font-family:"MS Mincho",serif;}
    span.CharChar2
    {font-family:"Verdana",sans-serif;
      font-style:italic;}
    p.TableHeaders, li.TableHeaders, div.TableHeaders
    {margin-top:3.0pt;
      margin-right:0in;
      margin-bottom:3.0pt;
      margin-left:0in;
      text-align:center;
      font-size:9.0pt;
      font-family:"Verdana",sans-serif;
      color:black;
      font-weight:bold;}
    p.boxedtext, li.boxedtext, div.boxedtext
    {margin-top:0in;
      margin-right:0in;
      margin-bottom:8.0pt;
      margin-left:0in;
      border:none;
      padding:0in;
      font-size:10.0pt;
      font-family:"Verdana",sans-serif;
      font-style:italic;}
    p.F1F4HeaderOdd, li.F1F4HeaderOdd, div.F1F4HeaderOdd
    {margin:0in;
      margin-bottom:.0001pt;
      text-align:right;
      border:none;
      padding:0in;
      font-size:9.0pt;
      font-family:"Verdana",sans-serif;
      font-style:italic;}
    span.CommentTextChar
    {font-family:"Calibri",sans-serif;}
    /* Page Definitions */
    @page WordSection1
    {size:8.5in 11.0in;
      margin:.25in .5in .25in .5in;}
    div.WordSection1
    {page:WordSection1;}
    /* List Definitions */
    ol
    {margin-bottom:0in;}
    ul
    {margin-bottom:0in;}
    -->
  </style>

</head>

<body lang=EN-US link=blue vlink=purple>

<div class=WordSection1>

  <p class=MsoNormal align=center style='margin-top:12.0pt;text-align:center'><b><span
  style='font-size:12.0pt;font-family:"Calibri",sans-serif'>PATIENT AUTHORIZATION
FORM FOR </span></b></p>

  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:12.0pt;font-family:"Calibri",sans-serif'>FULL DISCLOSURE OF HEALTH
INFORMATION FOR TREATMENT &amp; QUALITY OF CARE</span></b></p>

  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:9.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></b></p>

  <div style='border:solid windowtext 1.0pt;padding:1.0pt 4.0pt 1.0pt 4.0pt'>

    <p class=boxedtext align=center style='margin-bottom:0in;margin-bottom:.0001pt;
        text-align:center'>***PLEASE READ THE ENTIRE FORM, BOTH PAGES, BEFORE SIGNING
      BELOW***</p>

  </div>

  <p class=MsoNormal><b><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></b></p>

  <p class=MsoNormal style='line-height:200%'><b><span style='font-family:"Calibri",sans-serif'>Patient
(name and information of person whose health information is being disclosed):</span></b></p>

  <p class=MsoNormal style='line-height:200%'><span style='font-family:"Calibri",sans-serif'>Name
(First Middle Last): <b><%= "#{@user.name} #{@user.last_name}" %></b></span></p>

  <p class=MsoNormal style='line-height:200%'><span style='font-family:"Calibri",sans-serif'>Date
of Birth (mm/dd/yyyy): <b><%= "#{@user.birth_date.strftime("%m/%d/%Y")}" %></b></span></p>

  <p class=MsoNormal style='line-height:200%'><span style='font-family:"Calibri",sans-serif'>Cell
Phone Number: <b><%= "#{@user.phone}" %></b></span></p>

  <p class=MsoNormal style='line-height:200%'><span style='font-family:"Calibri",sans-serif'>Address: <b><%= "#{@address.street}" %></b>
                                                                        City: <b><%= "#{@address.city}" %></b>              State: <b><%= "#{@address.state}" %></b>
                                         Zip: <b><%= "#{@address.zip}" %></b></span></p>

  <p class=MsoNormal><span style='position:relative;z-index:251657728'><span
  style='position:absolute;left:-11px;top:-75px;width:545px;height:5px'><img
  width=545 height=5
  src="EMeRge%20Patient%20Consent%20Electronic%20Form.fld/image001.gif"></span></span><b><span
  style='font-size:3.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></b></p>

  <p class=MsoNormal><b><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></b></p>

  <br clear=ALL>

  <div style='border:solid windowtext 1.0pt;padding:1.0pt 4.0pt 1.0pt 4.0pt'>

    <p class=boxedtext style='text-align:justify'><b><span style='font-size:9.0pt'>You
may use this form to allow your healthcare provider to see and obtain access to
your health information. Your choice on whether to sign this form will not
affect your ability to get medical care or health insurance coverage and cannot
be used as the basis for denial of health services.</span></b></p>

  </div>

  <p class=MsoNormal style='line-height:150%'><b>By signing this form, I
    voluntarily authorize and give my permission and allow disclosure:</b></p>

  <p class=MsoNormal style='margin-left:.75in;text-indent:-.75in;line-height:
      115%'><b><u><span style='font-family:"Calibri",sans-serif'>OF WHAT:</span></u></b><b><span
  style='font-family:"Calibri",sans-serif'>      <u>ALL MY HEALTH INFORMATION including
any information about sensitive conditions</u></span></b><span
  style='font-family:"Calibri",sans-serif'> (if any) [See page 2 for details]</span></p>

  <p class=MsoNormal style='margin-left:1.0in;text-indent:-1.0in;line-height:
      115%'><b><span style='font-size:3.0pt;line-height:115%;font-family:"Calibri",sans-serif'>&nbsp;</span></b></p>

  <p class=MsoNormal style='line-height:115%'><b><u><span style='font-family:
      "Calibri",sans-serif'>FROM WHOM</span></u></b><span style='font-family:"Calibri",sans-serif'>:
    ALL information sources [See page 2 for details]</span></p>

  <p class=MsoNormal style='line-height:115%'><b><u><span style='font-family:
      "Calibri",sans-serif'>TO WHOM</span></u></b><span style='font-family:"Calibri",sans-serif'>:
EMERGE MEDICAL LLC, Physicians, clinics, health insurers and other recipients
listed on page 2. </span></p>

  <p class=MsoNormal style='line-height:115%'><b><u><span style='font-family:
      "Calibri",sans-serif'>PURPOSE</span></u></b><span style='font-family:"Calibri",sans-serif'>:
To provide me with medical treatment and related services, and to evaluate and
improve patient safety and the quality of medical care provided to all
patients. </span></p>

  <p class=MsoNormal style='line-height:115%'><b><u><span style='font-family:
      "Calibri",sans-serif'>EFFECTIVE PERIOD</span></u></b><span style='font-family:
      "Calibri",sans-serif'>: This authorization/permission form will remain in
effect until the day I withdraw my permission.</span></p>

  <p class=MsoNormal style='line-height:115%'><b><u><span style='font-family:
      "Calibri",sans-serif'>WITHDRAWING MY PERMISSION</span></u></b><span
  style='font-family:"Calibri",sans-serif'>: I can withdraw my permission at any
time by giving written notice to the person or organization named above in “To Whom.”
</span></p>

  <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

  <p class=MsoNormal><b><u><span style='font-family:"Calibri",sans-serif'>In
addition:</span></u></b></p>

  <p class=MsoListParagraph style='margin-top:0in;margin-right:0in;margin-bottom:
      0in;margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:
      normal'><span style='font-size:10.0pt;font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
  style='font-size:10.0pt'>I authorize the use of a copy (including electronic
copy) of this form for the disclosure of the information described above.</span></p>

  <p class=MsoListParagraph style='margin-top:0in;margin-right:0in;margin-bottom:
      0in;margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:
      normal'><span style='font-size:10.0pt;font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
  style='font-size:10.0pt'>I understand that there are some circumstances in
which this information may be redisclosed to other persons [See page 2 for
details].</span></p>

  <p class=MsoListParagraph style='margin-top:0in;margin-right:0in;margin-bottom:
      0in;margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:
      normal'><span style='font-size:10.0pt;font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><b><span
  style='font-size:10.0pt'>I understand that refusing to sign this form does not
stop disclosure of my health information that is otherwise permitted by law
without my specific authorization or permission.</span></b></p>

  <p class=MsoListParagraph style='margin-top:0in;margin-right:0in;margin-bottom:
      0in;margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:
      150%'><span style='font-size:10.0pt;line-height:150%;font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><b><span
  style='font-size:10.0pt;line-height:150%'>I have read both pages of this form
and agree to the disclosures above from the types of sources listed</span></b><span
  style='font-size:10.0pt;line-height:150%'>.</span></p>

  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></p>

  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'>You
are the: [ <%= "X" if @is_patient %> ] Patient      [ <%= "X" unless @is_patient %> ] Patient’s Legal Representative </span></p>

  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></p>

  <% if !@is_patient %>

  <p class=MsoNormal><b><span style='font-size:14.0pt;font-family:"Calibri",sans-serif'>X <%= @legal_name %></span></b><span
  style='font-size:9.0pt;font-family:"Calibri",sans-serif'>  
                                                                     </span></p>

  <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>Name of
Patient or Patient’s Legal Representative                                        </span></p>

  <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

    <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>Relationship to patient: <b><%= @legal_relationship %></b></span></p>

  <p class=MsoNormal><b><span style='font-size:8.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></b></p>

  <p class=MsoNormal><b><span style='font-size:8.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></b></p>

    <% end %>

  <p class=MsoNormal><span style='font-family:"Calibri",sans-serif'>NOTE: This
form is invalid if modified. You are entitled to get a copy of this form after
you agree to it.</span></p>

  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:11.0pt;font-family:"Calibri",sans-serif'> </span></b></p>

  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:11.0pt;font-family:"Calibri",sans-serif'>“Universal Patient
Authorization for Full Disclosure of Health Information for Treatment &amp; Quality
of Care”</span></b></p>

  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></p>

  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'>Laws
and regulations require that some sources of personal information have a signed
authorization or permission form before releasing it. Also, some laws require
specific authorization for the release of information about certain conditions
and from educational sources. </span></p>

  <p class=MsoNormal><span style='font-size:6.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></p>

  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'> <u>“Of
What”:</u> includes ALL YOUR HEALTH INFORMATION, INCLUDING: </span></p>

  <p class=MsoListParagraph style='margin-bottom:0in;margin-bottom:.0001pt;
      text-indent:-.25in;line-height:normal'><b><span style='font-size:9.0pt'>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
  style='font-size:9.0pt'>All records and other information regarding your health
history, treatment, hospitalization, tests, and outpatient care. This
information may relate to sensitive health conditions (if any), <u>including
but not limited to</u>:</span></b></p>

  <p class=MsoListParagraph style='margin-top:0in;margin-right:0in;margin-bottom:
      0in;margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.25in;line-height:
      normal'><span style='font-size:9.0pt'>a.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:9.0pt'>Drug, alcohol, or substance abuse</span></p>

  <p class=MsoListParagraph style='margin-top:0in;margin-right:0in;margin-bottom:
      0in;margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.25in;line-height:
      normal'><span style='font-size:9.0pt'>b.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:9.0pt'>Psychological, psychiatric or other
mental impairment(s) or developmental disabilities </span></p>

  <p class=MsoListParagraph style='margin-top:0in;margin-right:0in;margin-bottom:
      0in;margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.25in;line-height:
      normal'><span style='font-size:9.0pt'>c.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:9.0pt'>Sickle cell anemia</span></p>

  <p class=MsoListParagraph style='margin-top:0in;margin-right:0in;margin-bottom:
      0in;margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.25in;line-height:
      normal'><span style='font-size:9.0pt'>d.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:9.0pt'>Birth control and family planning</span></p>

  <p class=MsoListParagraph style='margin-top:0in;margin-right:0in;margin-bottom:
      0in;margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.25in;line-height:
      normal'><span style='font-size:9.0pt'>e.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:9.0pt'>Records which may indicate the
presence of a communicable disease or noncommunicable disease; and tests for or
records of HIV/AIDS or sexually transmitted diseases or tuberculosis</span></p>

  <p class=MsoListParagraph style='margin-top:0in;margin-right:0in;margin-bottom:
      0in;margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.25in;line-height:
      normal'><span style='font-size:9.0pt'>f.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:9.0pt'>Genetic (inherited) diseases or
tests</span></p>

  <p class=MsoListParagraph style='margin-bottom:0in;margin-bottom:.0001pt;
      text-indent:-.25in;line-height:normal'><b><span style='font-size:9.0pt'>2.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
  style='font-size:9.0pt'>Copies of educational tests or evaluations, including
Individualized Educational Programs, assessments, psychological and speech
evaluations, immunizations, recorded health information (such as height,
weight), and information about injuries or treatment.</span></b></p>

  <p class=MsoNormal style='margin-left:.5in;text-indent:-.25in'><b><span
  style='font-size:9.0pt;font-family:"Calibri",sans-serif'>3.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
  style='font-size:9.0pt;font-family:"Calibri",sans-serif'>Information created
before or after the date of this form</span></b><span style='font-size:9.0pt;
      font-family:"Calibri",sans-serif'>.</span></p>

  <p class=MsoNormal><span style='font-size:6.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></p>

  <p class=MsoNormal><u><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'>“From
Whom”</span></u><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'>
includes: <b>All information sources </b>including<b> </b>but not limited to medical
and clinical sources (hospitals, clinics, labs, pharmacies, physicians,
psychologists, etc.) including mental health, correctional, addiction
treatment, Veterans Affairs health care facilities, state registries and other
state programs, all educational sources that may have some of my health
information (schools, records administrators, counselors, etc.), social
workers, rehabilitation counselors, insurance companies, health plans, health 
maintenance organizations, employers, pharmacy benefit managers, worker’s
compensation programs, state Medicaid, Medicare and any other governmental
program. </span></p>

  <p class=MsoNormal><span style='font-size:6.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></p>

  <p class=MsoNormal><u><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'> “To
Whom”:</span></u><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'>
EMERGE MEDICAL LLC. For those health care providers listed in the “TO WHOM”
section, your permission would also include physicians, other health care
providers (such as nurses) and medical staff who are involved in your medical
care at that organization’s facility or that person’s office, and health care
providers who are covering or on call for the specified person or organization,
and staff members or agents (such as business associates or qualified services
organizations) who carry out activities and purpose(s) permitted by this form
for that organization or person that you specified. Disclosure may be of health
information in paper or oral form or may be through electronic interchange. Health
insurance companies, drug companies, medical device companies, legal
representatives (if included above) are also included as intended recipients. Other
recipients may be added subject to your explicit consent. </span></p>

  <p class=MsoNormal><span style='font-size:6.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></p>

  <p class=MsoNormal><u><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'> “Withdrawal”:</span></u><span
  style='font-size:9.0pt;font-family:"Calibri",sans-serif'> You have the right to
revoke this authorization and withdraw your permission at any time regarding
any future uses. </span><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'>You
should&nbsp;understand that organizations that had your permission to access
your health information may copy or include your information in&nbsp;their own
records.&nbsp;These organizations, in many circumstances, are not required to
return any information that they were provided nor are they required to remove
it from their own records. </span></p>

  <p class=MsoNormal><span style='font-size:6.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></p>

  <p class=MsoNormal><u><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'> “Re-disclosure
of Information”:</span></u><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'>
Any health information about you may be re-disclosed to others only to the
extent permitted by state and federal laws and regulations. You understand that
once your information is disclosed, it may be subject to lawful re-disclosure,
in accordance with applicable state and federal law, and in some cases, may no
longer be protected by federal privacy law. </span></p>

  <p class=MsoNormal><span style='font-size:6.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></p>

  <p class=MsoNormal><u><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'>Limitations
of this Form</span></u><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'>:
</span><span style='font-size:9.0pt;font-family:"Cambria",serif'>This form does
not obligate your health care provider or other person/organization listed in
the “From Whom” or “To Whom” section to seek out the information you specified
in the “Of What” section from other sources. Also, this form does not change
current obligations and rules about who pays for copies of records.  </span></p>

  <p class=MsoNormal><b><i><u><span style='font-size:8.0pt;font-family:"Calibri",sans-serif'><span
  style='text-decoration:none'>&nbsp;</span></span></u></i></b></p>

  <p class=MsoNormal><b><i><u><span style='font-size:8.0pt;font-family:"Calibri",sans-serif'>Note
to recipient(s) of the information disclosed under this permission</span></u></i></b><b><i><span
  style='font-size:8.0pt;font-family:"Calibri",sans-serif'>: </span></i></b><i><span
  style='font-size:8.0pt;font-family:"Calibri",sans-serif'>This information may
have been disclosed to you from records protected by state and/or federal
confidentiality rules (42 CFR Part 2 or 38 CFR Part 1). If so, the state and/or
federal rules prohibit you from making any further disclosure of this
information unless further disclosure is expressly permitted by the written
consent of the person to whom it pertains or as otherwise permitted by state
law and/or 42 CFR Part 2 (e.g., certain medical emergencies) or 38 CFR Part 1.
A general authorization for the release of medical or other information is NOT
sufficient for this purpose. The federal rules restrict any use of the
information to criminally investigate or prosecute any alcohol or drug abuse
patient or patient with sickle cell anemia or HIV infection.</span></i></p>

  <p class=MsoNormal><u><span style='font-size:9.0pt;font-family:"Calibri",sans-serif'><span
  style='text-decoration:none'>&nbsp;</span></span></u></p>

  <p class=MsoNormal><span style='font-size:8.0pt;font-family:"Calibri",sans-serif'>This
general and special authorization to disclose was developed to comply with the
provisions regarding disclosure of medical, educational, and other information
under 45 CFR Parts 160 and 164 (“HIPAA”); </span><span lang=EN
                                                       style='font-size:8.0pt;font-family:"Calibri",sans-serif'>Health Information
Technology for Economic and Clinical Health (HITECH) Act, Title XIII of
Division A and Title IV of Division B of the American Recovery and Reinvestment
Act of 2009 (ARRA), Pub. L. No. 111-5 (Feb. 17, 2009)</span><span
  style='font-size:8.0pt;font-family:"Calibri",sans-serif'> §13405 (“HITECH
Act”); 42 U.S. Code §290dd-2; 42 CFR Part 2; 38 U.S. Code section 7332; 38 CFR
1.475 (Veterans Affairs); 20 U.S. Code §1232g (“FERPA”); 34 CFR parts 99 and
300; Florida Statute 408.051(4) (“Universal Patient Authorization Form”); and
all other Florida Statutes, the Florida Constitution, Florida regulations or
administrative rules requiring patient authorization, consent or permission to
release such records (including but not limited to Florida Statutes
§456.057(7)(a), §395.3025(4), §394.4615(2)(a), §381.004, §397.501(7),
§760.40(2), §392.65(1), §384.29(1), and §385.202(3)).</span></p>

</div>

</body>

</html>
